# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/

# GCP
vlp-web-service-account-key.json
.gcloudignore

# Entorno virtual
venv/
ENV/

# IDE
.idea/
.vscode/ 